In [1]:
import pandas as pd

In [38]:
train = pd.read_csv('data/train.csv', sep=',')
print(train.shape)
train.head()

(159571, 8)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [39]:
train.iloc[0, 1]

"Explanation\nWhy the edits made under my username Hardcore Metallica Fan were reverted? They weren't vandalisms, just closure on some GAs after I voted at New York Dolls FAC. And please don't remove the template from the talk page since I'm retired now.89.205.38.27"

In [40]:
train.loc[:,'toxic':].apply(lambda x: x.value_counts())

    toxic  severe_toxic  obscene  threat  insult  identity_hate
0  144277        157976   151122  159093  151694         158166
1   15294          1595     8449     478    7877           1405

In [41]:
train.loc[:,'toxic':].corr()

,toxic,severe_toxic,obscene,threat,insult,identity_hate
toxic,1.000000,0.308619,0.676515,0.157058,0.647518,0.266009
severe_toxic,0.308619,1.000000,0.403014,0.123601,0.375807,0.201600
obscene,0.676515,0.403014,1.000000,0.141179,0.741272,0.286867
threat,0.157058,0.123601,0.141179,1.000000,0.150022,0.115128
insult,0.647518,0.375807,0.741272,0.150022,1.000000,0.337736
identity_hate,0.266009,0.201600,0.286867,0.115128,0.337736,1.000000

In [42]:
train.comment_text.duplicated().sum()

0

In [43]:
train.isnull().sum()

id               0
comment_text     0
toxic            0
severe_toxic     0
obscene          0
threat           0
insult           0
identity_hate    0
dtype: int64

In [44]:
train['sum_lable'] = train.loc[:,'toxic':].sum(axis=1)
train['sum_lable'].value_counts()

0    143346
1      6360
3      4209
2      3480
4      1760
5       385
6        31
Name: sum_lable, dtype: int64

In [45]:
train['has_one_class'] = train['sum_lable'].astype(bool).astype(int)
train['has_one_class'].value_counts()

0    143346
1     16225
Name: has_one_class, dtype: int64

In [35]:
train.loc[:,'toxic':].groupby(['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']).sum()

                                                        sum_lable  \
toxic severe_toxic obscene threat insult identity_hate
0     0            0       0      0      0                    0.0
                                         1                   38.0
                                  1      0                  175.0
                                         1                   28.0
                           1      0      0                   12.0
                                  1      0                    4.0
                   1       0      0      0                  181.0
                                         1                    2.0
                                  1      0                  236.0
                                         1                   30.0
                           1      0      0                    2.0
                                  1      0                    3.0
1     0            0       0      0      0                 3427.0
                                         1                  142.0
                                  1      0                 1492.0
                                         1                  201.0
                           1      0      0                  142.0
                                         1                    9.0
                                  1      0                   24.0
                                         1                   12.0
                   1       0      0      0                 2122.0
                                         1                   57.0
                                  1      0                 6885.0
                                         1                 1488.0
                           1      0      0                   24.0
                                  1      0                  332.0
                                         1                  190.0
      1            0       0      0      0                   44.0
                                         1                    9.0
                                  1      0                   24.0
                                         1                   12.0
                           1      0      0                   24.0
                   1       0      0      0                  279.0
                                         1                   16.0
                                  1      0                 2436.0
                                         1                  740.0
                           1      0      0                    8.0
                                  1      0                  225.0
                                         1                  120.0

                                                        has_one_class
toxic severe_toxic obscene threat insult identity_hate
0     0            0       0      0      0                          0
                                         1                         38
                                  1      0                        175
                                         1                         14
                           1      0      0                         12
                                  1      0                          2
                   1       0      0      0                        181
                                         1                          1
                                  1      0                        118
                                         1                         10
                           1      0      0                          1
                                  1      0                          1
1     0            0       0      0      0                       3427
                                         1                         71
                                  1      0                        746
                                         1                         67
                           1      0      0                         71
                                         1                          3
                                  1      0                          8
                                         1                          3
                   1       0      0      0                       1061
                                         1                         19
                                  1      0                       2295
                                         1                        372
                           1      0      0                          8
                                  1      0                         83
                                         1                         38
      1            0       0      0      0                         22
                                         1                          3
                                  1      0                          8
                                         1                          3
                           1      0      0                          8
                   1       0      0      0                         93
                                         1                          4
                                  1      0                        609
                                         1                        148
                           1      0      0                          2
                                  1      0                         45
                                         1                         20

In [5]:
test = pd.read_csv('data/test.csv', sep=',')
print(test.shape)
test.head()

(226998, 2)

         id                                       comment_text
0   6044863  ==Orphaned non-free media (Image:41cD1jboEvL. ...
1   6102620  ::Kentuckiana is colloquial.  Even though the ...
2  14563293  Hello fellow Wikipedians,\nI have just modifie...
3  21086297  AKC Suspensions \nThe Morning Call - Feb 24, 2...
4  22982444                      == [WIKI_LINK: Talk:Celts] ==

In [36]:
sample = pd.read_csv('data/sample_submission.csv', sep=',')
print(sample.shape)
sample.head()

(226998, 7)

         id  toxic  severe_toxic  obscene  threat  insult  identity_hate
0   6044863    0.5           0.5      0.5     0.5     0.5            0.5
1   6102620    0.5           0.5      0.5     0.5     0.5            0.5
2  14563293    0.5           0.5      0.5     0.5     0.5            0.5
3  21086297    0.5           0.5      0.5     0.5     0.5            0.5
4  22982444    0.5           0.5      0.5     0.5     0.5            0.5